@model List<string>

<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <h1>Servizio meteo di Treviso</h1>
    <form method="post" style="margin-top:30px">
        <select name="city">
            @foreach (var elemento in Model) {
                <option value="@elemento">@elemento</option>
            }
        </select>
        <input type="submit" value="Invia" class="ani" />
    </form>
</div>
